@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

*:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

  .icon-w-h {
    @apply sm:w-7 h-7 w-6 h-6;
  }
  .btn-search {
    @apply  bg-white text-[#015F8A] font-medium rounded px-4 py-2 text-base sm:scale-100	hover:bg-[#015F8A] hover:text-white
    sm:hover:scale-110 shadow transition duration-500 ease-in-out;
  }
  .content {
    @apply px-5  py-2;
  }
  .user-info{
    @apply  pl-3 pr-4 sm:pl-6 sm:pr-8 py-1  space-y-2 border-r-[1px] border-solid border-black h-12 last:border-0
  }
  .text {
    @apply  font-bold text-[13px] text-center
  }
  .sosial-icon {
   @apply  w-5 h-5
  }
  .sosial-info {
    @apply flex items-center space-x-2 mt-2
  }

}


body {

  font-family: 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


